<h1>New sighting added for <% sighting.specie.name %></h1>

<p><a href="/sightings">Return to sightings listing</a></p>

<p><a href="/species/<%= @specie.id %>">View <%= @specie.name %></a></p>

<p><a href="/species">Return to species listing</a></p>
