<h1>New sighting added for <%= @sighting.specie.name %></h1>

<p><a href="/species/<%=@sighting.specie.id%>">Return to sightings listing</a></p>

<p><a href="/species/<%= @sighting.specie.id %>">View <%= @sighting.specie.name %></a></p>

<p><a href="/species">Return to species listing</a></p>
